# direnv + nix-shell: best of "Nix without Flox"
#
# nix-shell gives us input-addressed binary paths via /nix/store/...
# direnv handles activation when you `cd` into the directory.
# sbx wraps the resulting environment in a sandbox.

use nix
../../sbx/sbx prepare
PATH_add ./.sandbox/bin

alias elevate='exec ../../sbx/sbx elevate'
alias agent='exec ../../sbx/sbx elevate'
